<h1><%= @cart.order_id %></h1>

<% form_tag do  %>
<table>
	<tr>
		<th>ID</th>
		<th>Transacton ID</th>
		<th>Amount</th>
		<th>Status</th>
		<th>Comments</th>
		<th>Params</th>
		<th></th>
	</tr>
	<% @cart.payments.each do |@payment| -%>
		<tr>
			<td><%= @payment.id%></td>
			<td><%= @payment.transaction_id%></td>
			<td>&yen;<%= @payment.amount %></td>
			<td><%= @payment.status%></td>
			<td><%= text_field "payment[]", :comments, :size => 40 %></td>
			<td><%= @payment.params %></td>
			<td><%= submit_tag 'Update', :onclick => "$('upd_line').value = '#{@payment.id}'" %></td>
		</tr>
	<% end -%>
	<tr>
		<td></td>
		<td><%= text_field :new_payment, :transaction_id, :size => 40 %></td>
		<td><%= text_field :new_payment, :amount, :size => 8, :value => @cart.total_amount %></td>
		<td><%= text_field :new_payment, :status, :size => 8 %></td>
		<td><%= text_field :new_payment, :comments, :size => 40 %></td>
		<td><%= text_field :new_payment, :params, :size => 40 %></td>
		<td><%= submit_tag 'Add' %></td>
	</tr>
</table>
<%= hidden_field_tag :upd_line %>
<% end %>