<table id="corder_table">
<tr>
	<th><%=I18n.t("order.h.order_id")%></th>
	<th><%=I18n.t("amount")%></th>
	<th colspan="2"><%=I18n.t("points")%></th>
	<th><%=I18n.t("order.shipping_status")%></th>
	<th><%=I18n.t("order.payment_status")%></th>
	<th><%=I18n.t("order.h.ordered_at")%></th>
</tr>	
<% @orders.each do |order| -%>
<tr>
	<td><%= link_to_function order.order_id, "goCorder('#{order.order_id}')" %></td>
	<td><%= I18n.t(:yen, :a => order.total_amount)%></td>
	<td><%= order.total_points %>
	<td align="left" width="3%"><%=image_tag("tento.png")%></td>
	<td><%= order.shipping_status %></td>
	<td><%= order.payment_status %></td>
	<td><%= order.ordered_at %></td>
</tr>

<% end -%>
</table>
