<table id="corder_table">
<tr>
	<th><%=I18n.t("order.h.order_id")%></th>
	<th><%=I18n.t("amount")%></th>
	<th><%=I18n.t("order.h.ordered_at")%></th>
</tr>	
<% @orders.each do |order| -%>
<tr>
	<td><%= link_to_function order.order_id, "goCorder('#{order.order_id}')" %></td>
	<td><%= I18n.t(:yen, :a => order.total_amount)%></td>
	<td><%= order.ordered_at %></td>
</tr>

<% end -%>
</table>
