<% if !logged_in? %>
	<h2><%=I18n.t("order.please_login1")%></h2>
<% elsif @corder.nil? %>
  	<h2><%=I18n.t("order.not_found")%></h2>
<% else %>
<div id="corder_<%=@corder.order_id%>_box">
  <div style="width:95%;padding:10px">
  	<% if @prev %>
	  <%=link_to_function I18n.t("order.prev"), "goCorder('#{@prev}')"%>
	<% end %>
	<% if @prev && @next %>
	  &nbsp;&nbsp;|&nbsp;
	<% end %>
	<% if @next %>
	  <%=link_to_function I18n.t("order.next"), "goCorder('#{@next}')"%>
	<% end %>
  </div>
  <div style="width:95%;padding:10px">
  	<h2><%= I18n.t("order.order_id", :id => @corder.order_id)%></h2>
	<%=I18n.t("order.ordered_at", :at => @corder.confirmed_at) %>
  </div>
  <table  class="cart_ro_table" cellspacing="0">
	<% @corder.orders.each do |order| %>
		<%= render :partial => 'cart/supplier', :object => order.supplier %>
		<% for item in order.line_items %>
		  <tr id="ord_cart_line_<%=item.id%>">
		    <%= render :partial => 'checkout/cart_line', :object => item %>
		  </tr>
		<% end %>
		<%= render :partial => 'checkout/order', :object => order %> 
	<% end %>
  </table>
</div>
<%= javascript_tag "makeFrame('corder_#{@corder.order_id}_box','#{I18n.t("order.order_id", :id => @corder.order_id)}' )"  %>

<% end %>
