<% if !logged_in? %>
	<h2><%=I18n.t("order.please_login1")%></h2>
<% elsif @corder.nil? %>
  	<h2><%=I18n.t("order.not_found")%></h2>
<% else %>
<div id="corder_<%=@corder.order_id%>_box">
  <div style="width:95%;padding:10px">
  	<% if @prev %>
	  <%=link_to_function I18n.t("order.prev"), "goCorder('#{@prev}')"%>
	  &nbsp;&nbsp;|&nbsp;
	<% end %>
	<%= link_to_function I18n.t("order.index"), "goCorders()" %>
	<% if @next %>
	  &nbsp;&nbsp;|&nbsp;
	  <%=link_to_function I18n.t("order.next"), "goCorder('#{@next}')"%>
	<% end %>
  </div>
  <div style="width:95%;padding:10px">
  	<h2><%= I18n.t("order.order_id", :id => @corder.order_id)%></h2>

	<table class="order_header_tbl">
		<tr>
			<th><%=I18n.t("amount")%></th>
			<th><%=I18n.t("order.h.ordered_at")%></th>
			<th><%=I18n.t("order.shipping_status")%></th>
			<th><%=I18n.t("order.payment_status")%></th>
		</tr>
		<tr>
			<td><%= I18n.t(:yen, :a => @corder.total_amount)%></td>
			<td><%= @corder.ordered_at %></td>
			<td><%= @corder.shipping_status %></td>
			<td><%= @corder.payment_status %></td>
		</tr>	
	</table>

	  <table  class="cart_ro_table" cellspacing="0">
		<% @corder.orders.each do |order| %>

			 <tr>
			   <th colspan="6"><%= order.supplier.name %></th>
			 </tr>

			<% for item in order.line_items %>
			  <tr id="ord_cart_line_<%=item.id%>">
			    <%= render :partial => 'checkout/cart_line', :object => item %>
			  </tr>
			<% end %>
			<%= render :partial => 'checkout/order', :object => order %> 
			<tr><td colspan="6">&nbsp;</td></tr>
		<% end %>
	  </table>

    <h2>Payments</h2>
    <h2>Shipments</h2>
  </div>
</div>

<%= javascript_tag "makeFrame('corder_#{@corder.order_id}_box','#{I18n.t("order.order_id", :id => @corder.order_id)}' )"  %>

<% end %>
