<tr id="cart_line_<%=cart_line.id%>">
  <td><%=h cart_line.catalog_item.name_en %></td>
  <td align="right"><%=cart_line.quantity%></td>
  <td align="left">
	<div style="width:15px;line-height:0.7em;"><%=link_to_remote image_tag("up.png"), :url => cart_line_path(cart_line.id), :method => :put, :with => "'op=up'"%></div>
    <div style="width:15px;line-height:0.7em;"><%=link_to_remote image_tag("down.png"), :url => cart_line_path(cart_line.id), :method => :put, :with => "'op=down'"%></div>
  </td>
  <td align="right"><%=cart_line.quantity * cart_line.catalog_item.unit_weight%> kg</td>
  <td align="right">&yen; <%=cart_line.quantity * cart_line.price%></td>
 
  <td align="right"><%=link_to_remote image_tag("remove.png"), :url => cart_line_path(cart_line.id), :method => :delete%></td>
</tr>

