<tbody id="order_totals_<%=order.id%>"
 <tr id="order_totals0_<%=order.id%>" class="ototal-line">
  <td align="right" colspan="3"><%=I18n.t("cart.supplier_total")%></td>
  <td></td>
  <td></td>
  <td align="right"><%= I18n.t(:yen, :a => order.amount)%></td>
  <td></td>
 </tr>

 <tr id="order_totals1_<%=order.id%>" class="stotal-line">
  <td align="right" colspan="3"><%=I18n.t("cart.shipping")%></td>
  <td></td>
  <td></td>
  <td align="right"><%= order.shipping_cost_s %></td>
  <td></td>
 </tr>

 <tr id="order_totals2_<%=order.id%>" class="total-line">
  <td align="right" colspan="3"><%=I18n.t("cart.total")%></td>
  <td></td>
  <td></td>
  <td align="right"><%= I18n.t(:yen, :a => order.amount_with_shipping)%></td>
  <td></td>
 </tr>
</tbody> 