<% if @cart.empty? %>
  <%= render :partial => 'empty_cart' %>
  <%= javascript_tag "$('cart_box_label').update('Cart is empty');"  %>
<% else %>
  <table id="cart_table" cellspacing="0">
  <% @cart.orders.each do |order| %>
    <%= render :partial => 'supplier', :object => order.supplier %>
    <% for item in order.line_items %>
      <tr id="cart_line_<%=item.id%>">
        <%= render :partial => 'cart_line', :object => item %>
      </tr>
    <% end %>
    <%= render :partial => 'order', :object => order %>
  <% end %>
  </table>
  <%= render :partial => 'cart_footer' %>
  <%= javascript_tag "$('cart_box_label').update('#{@cart.size} items in the cart');"  %>

<% end %>
