<td><%=h cart_line.catalog_item.name_en %></td>
<td align="right"><%=cart_line.quantity%></td>
<td align="right"><%=cart_line.quantity * cart_line.catalog_item.unit_weight%>kg</td>
<td align="right">&yen;<%=cart_line.quantity * cart_line.price%></td>
<td align="right" valign="middle"><%=cart_line.quantity * cart_line.points%> <%=image_tag("tento.png")%></td>

