<div id="pay_box" style="font-size:larger;padding:10px;line-height:140%">
Total amount to pay: <span style="font-weight:bold;">&yen;<%=cart.total_amount%></span>
<form>
<p><%= radio_button_tag "payment_method", "BT", true%> Pay by Bank Transfer (Furikomi)</p>
<p><%= radio_button_tag "payment_method", "CD"%> Pay cash on delivery</p>
<p><%= radio_button_tag "payment_method", "KD"%> Pay credit cart on delivery</p>
<p><%= radio_button_tag "payment_method", "PP"%> Pay by PayPal</p>
<p><%= submit_to_remote "pay_btn", "Pay", :url => {:action => 'pay'}, :update => 'checkout_box'%></p>
</form>
</div>

