<div id="ship_box" style="padding:20px; font-size:larger">
<p><%= current_user.shipping_addr.prefecture%>
<%= current_user.shipping_addr.city%>
<%= current_user.shipping_addr.address%>
</p><p>
	<%= current_user.shipping_addr.postal_code%>
<p>
<%= current_user.shipping_addr.phone%>
</p>
<%= link_to_remote "Change...", :url => { :action => 'new_address' }, :update => 'ship_box' %>
<p>
	
</p>
</div>

<%=javascript_tag "makeFrame('ship_box','Ship To')"%>
