<div id="ship_box" style="padding:10px 30px 20px 30px; font-size:larger">
<p>
<%= shipping.prefecture %>
<%= shipping.city %>
<%= shipping.address %>
</p><p>
<%= shipping.postal_code%>
<p>
<%= shipping.phone%>
</p>
<%= link_to_remote I18n.t("address.change"), :url => { :action => 'new_address' }, :update => 'ship_box' %>
<p>
	
</p>
</div>

