<div id="ship_box" style="padding:20px; font-size:larger">
<p><%= shipping.prefecture %>
<%= shipping.city %>
<%= shipping.address %>
</p><p>
	<%= shipping.postal_code%>
<p>
<%= shipping.phone%>
</p>
<%= link_to_remote "Change...", :url => { :action => 'new_address' }, :update => 'ship_box' %>
<p>
	
</p>
</div>

