<h2><%=I18n.t("order.thanks")%></h2>

<%if @cart.pay_method == 'BT'-%>
	<p><%=I18n.t("order.on_hold")%></p>
<%elsif @cart.pay_method == 'CD' || @cart.pay_method == 'PP' -%>
	<p><%=I18n.t("order.complete")%></p>
<%end-%>	
<p><%=I18n.t("order.status_check", :link => link_to_function(I18n.t("order.here"), "goCorders()") )%></p>

<%= javascript_tag "boxReload('cart_box','corders_box')"  %>

