<% if @cart.empty? %>
  <%= render :partial => 'cart/empty_cart' %>
<% else %>
  <div style="width:95%;padding:10px" class="cart_ro_box">
  
	<table class="order_header_tbl">
		<tr>
			<th><%=I18n.t("amount")%></th>
			<th><%=I18n.t("cart.shipping")%></th>
			<th><%=I18n.t("points")%></th>
		</tr>
		<tr>
			<td><%= I18n.t(:yen, :a => @cart.total_amount)%></td>
			<td><%= @cart.orders.map(&:shipping_cost) %></td>
			<td><%= @cart.total_points %></td>
		</tr>	
	</table>

  
	  <table class="cart_ro_table" cellspacing="0">
	  <% @cart.orders.each do |order| %>
		 <tr>
		   <th colspan="6"><%= order.supplier.name %></th>
		 </tr>
	    <% for item in order.line_items %>
	      <tr id="co_cart_line_<%=item.id%>">
	        <%= render :partial => 'cart_line', :object => item %>
	      </tr>
	    <% end %>
	    <%= render :partial => 'order', :object => order %> 
		<tr><td colspan="6">&nbsp;</td></tr>
	  <% end %>
	  </table>
	
		<br>
	  <% if logged_in?%>
	    <h3>Shipping Information</h3>
		<%= render :partial => 'shipping', :object => @cart.ship_to%> 
	    <h3>Payment Information</h3>
	  	<%= render :partial => 'payment', :locals => {:cart => @cart}%> 
	  <% else %>
	  	<div style="padding:20px; font-size:larger">
		  <%=I18n.t("order.please_login")%>
		</div>
	  <% end %>
   </div>
<% end %>
