<% if @cart.empty? %>
  <%= render :partial => 'cart/empty_cart' %>
<% else %>
  <table id="checkout_table" cellspacing="0" width="100%">
  <% @cart.orders.each do |order| %>
    <%= render :partial => 'cart/supplier', :object => order.supplier %>
    <% for item in order.line_items %>
      <tr id="co_cart_line_<%=item.id%>">
        <%= render :partial => 'cart_line', :object => item %>
      </tr>
    <% end %>
    <%= render :partial => 'order', :object => order %> 
  <% end %>
  </table>
<% end %>
