<% if @cart.empty? %>
  <%= render :partial => 'cart/empty_cart' %>
<% else %>
  <table class="cart_ro_table" cellspacing="0">
  <% @cart.orders.each do |order| %>
    <%= render :partial => 'cart/supplier', :object => order.supplier %>
    <% for item in order.line_items %>
      <tr id="co_cart_line_<%=item.id%>">
        <%= render :partial => 'cart_line', :object => item %>
      </tr>
    <% end %>
    <%= render :partial => 'order', :object => order %> 
  <% end %>
  </table>
  <hr>
  <% if logged_in?%>
	<%= render :partial => 'shipping', :object => @cart.ship_to%> 
    <hr>
  	<%= render :partial => 'payment', :locals => {:cart => @cart}%> 
  <% else %>
  	<div style="padding:20px; font-size:larger">
	  <%=I18n.t("order.please_login")%>
	</div>
  <% end %>
<% end %>

