<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user, :address %>

<% if flash[:error] -%>
<div style="border:1px solid red;color:red;background-color:#FFC0CB;margin:5px;padding:2px">
<%= flash[ :error ] %>
<% flash.discard %>
</div>
<% end -%>


<% form_for :user, :url => users_path do |f| -%>
<table cellspacing="5" style="padding:5px;text-align:right;margin:auto" >

  <%= display_user_field f, :last_name %>
  <%= display_user_field f, :first_name %>
  <%= display_user_field f, :login %>
  <%= display_user_field f, :email %>

  <%= display_user_field f, :password,  :type => :password_field %>
  <%= display_user_field f, :password_confirmation,  :type => :password_field %>

  <% fields_for :address do |a| %>
    <%= display_user_field a, :line1, :prefix => 'address', :model => 'address' %>
    <%= display_user_field a, :line2, :prefix => 'address', :model => 'address' %>
    <%= display_user_field a, :postal_code, :prefix => 'address', :model => 'address' %>
  <% end %>

    <tr>
      <td colspan="2"><br/>
		<%= submit_to_remote 'signup', I18n.t(:sign_up), :url => users_path, :update => 'account_box' %>&nbsp;
		&nbsp;&nbsp;<%= link_to_function 'Back to login screen', "boxReload('account_box-login')"  %>
    </tr>

</table>
<% end -%>

<%= javascript_tag "$('account_box_label').update('#{I18n.t(:new_user_sign_up)}');"  %>

