<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user, :address %>

<% if flash[:error] -%>
<div style="border:1px solid red;color:red;background-color:#FFC0CB;margin:5px;padding:2px">
<%= flash[ :error ] %>
<% flash.discard %>
</div>
<% end -%>


<% form_for :user, :url => users_path do |f| -%>
<table cellspacing="5" style="padding:5px;text-align:right;margin:auto" >
  <tr>
    <td><label for="last_name">Last Name</label></td>
    <td><%= f.text_field :first_name, :size => 20 %></td>
  </tr>
  <%if !error_message_on(:user, :last_name).empty? -%>
  <tr><td colspan="2">
  	<%=error_message_on(:user, :last_name)%>
  </td></tr>
  <%end-%>
  <tr>
    <td><label for="first_name">First Name</label></td>
    <td><%= f.text_field :last_name, :size => 20 %></td>
  </tr>
  <tr>
    <td><%=label_tag 'login', I18n.t(:login)%></td>
    <td><%= f.text_field :login, :size => 20 %></td>
  </tr>
  <%if !error_message_on(:user, :login).empty? -%>
  <tr><td colspan="2">
  	<%=error_message_on(:user, :login)%>
  </td></tr>
  <%end-%>
  <tr>
    <td><%=label_tag 'email', I18n.t(:email)%></td>
    <td><%= f.text_field :email, :size => 20 %></td>
  </tr>
  <tr>
    <td><%= label_tag 'password', I18n.t(:password) %></td>
    <td><%= f.password_field :password, :size => 20 %></td>
  </tr>
  <tr>
    <td><%= label_tag 'password_confirmation', I18n.t(:password_confirmation) %></td>
    <td><%= f.password_field :password_confirmation, :size => 20 %></td>
  </tr>
  <% fields_for :address do |a| %>
    <tr>
      <td><label for="line1">Address Line 1</label></td>
      <td><%=a.text_field :line1, :size => 20 %></td>
    </tr>
    <tr>
      <td><label for="line2">Address Line 2</label></td>
      <td><%=a.text_field :line2, :size => 20 %></td>
    </tr>
    <tr>
      <td><label for="postal_code">Postal Code</label></td>
      <td><%=a.text_field :postal_code, :size => 20 %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="2"><br/>
		<%= submit_to_remote 'signup', I18n.t(:sign_up), :url => users_path, :update => 'account_box' %>&nbsp;
		&nbsp;&nbsp;<%= link_to_function 'Back to login screen', "boxReload('account_box-login')"  %>
    </tr>
</table>
<% end -%>

<%= javascript_tag "$('account_box_label').update('#{I18n.t(:new_user_sign_up)}');"  %>

