<h1><%= I18n.t(:new_user_sign_up) %></h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<p><%= label_tag 'login', I18n.t(:login) %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'email', I18n.t(:email) %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password', I18n.t(:password) %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', I18n.t(:password_confirmation) %><br/>
<%= f.password_field :password_confirmation %></p>

<p>
<%= submit_to_remote 'signup', I18n.t(:sign_up), :url => users_path, :update => 'account_box_context' %>&nbsp;
<%= button_to_function 'Login', "boxReload('account_box-login')"  %>
</p>
<% end -%>

<%= javascript_tag "$('account_box_label').update('New User Signup');"  %>
