<!--[if lt IE 7]>
<style type="text/css">
#container_box {
  width: expression( ( document.documentElement.clientWidth - 190 ) + 'px');
}
</style>
<![endif]-->

<div id="main_continer">

<table id="header_table" style="width:100%;height:125px;padding:0" cellspacing="0">
	<tr>
		<td id="logo1-cell"></td>
		<td id="logo2-cell" valign="top">
			<%= image_tag "logo-text.png" %>
			<span style="float:right;padding:20px">
				<%= link_to_remote 'English', :url => {:controller => "home", :action => "set_lng", :id => "en-US" } %> | 
				<%= link_to_remote '日本語', :url => {:controller => "home", :action => "set_lng", :id => "ja-JP" } %>
		</td>
		<td id="logo3-cell"></td>
	</tr>
</table>
	
<div id="nav_box">
  <div id="tab">
    <ul>
      <li><a href="#" class="mitem_cm" onClick="goInfo(); return false;"><span><%=I18n.t("home.home")%></span></a></li>
      <li><a href="#" class="mitem_dd" onClick="return false;"><span>&#x25B6; <%=I18n.t("home.specials")%></span></a></li>
      <li><div id="brw_sp_o"><div id="brw_sp" class="brw_items"></div></div></li>
      <li><a href="#" class="mitem_dd" onClick="return false;"><span>&#x25B6; <%=I18n.t("home.category")%></span></a></li>
      <li><div id="brw_pl_o"><div id="brw_pl" class="brw_items"></div></div></li>
      <li><a href="#" class="mitem_dd" onClick="return false;"><span>&#x25B6; <%=I18n.t("home.supplier")%></span></a></li>
      <li><div id="brw_su_o" style="display:none"><div id="brw_su" class="brw_items"></div></div></li>
      <li><a href="#" class="mitem_cm" onClick="goCheckout(); return false;"><span><%=I18n.t("home.checkout")%></span></a></li>
      <li><a href="#" class="mitem_dd" onClick="return false;"><span>&#x25B6; <%=I18n.t("home.info")%></span></a></li>
      <li><div id="brw_info_o" style="display:none"><div id="brw_info" class="brw_items">
        <ul>
          <li>Farmers</li>
          <li>How To Order</li>
          <li>Calendar</li>
          <li>Links</li>
        </ul>
      </div></div></li>
      
    </ul>
  </div>
</div>


<div id="container_box">
  <div id="main_box">

  <table width="100%" cellspacing="10px">
    <tr>
      <td id="center_col" valign="top" width="65%">
        <div id="info_box" class="a_boxes" style="display:none"></div>
        <div id="checkout_box" class="a_boxes" style="display:none"></div>
        <div id="corders_box" class="a_boxes" style="display:none"></div>
      </td>
      <td id="right_col" valign="top">
        <div id="account_box" class="a_boxes secure_context" style="display:none"></div>
        <div id="cart_box" class="a_boxes" style="display:none"></div>
      </td>
    </tr>
  </table>
  
  </div>
</div>
</div>


<script type="text/javascript">
  token = '<%=escape_javascript form_authenticity_token%>';

  boxURL = {
    info_box: '<%=info_path%>',
    cat: '<%=catalog_path%>',
    cart_box: '<%=cart_lines_path%>',
    account_box: '<%=account_path%>',
    checkout_box: {url: '<%=checkout_path%>', force: true},
	corders_box: '<%=customer_orders_path%>',
	corder: '<%=customer_orders_path%>'
  };
  
  makeColx('cart_box', '<%=I18n.t("home.cart")%>'); 
  makeColx('account_box', '<%=I18n.t("home.account")%>'); 
  makeColx('corders_box', '<%=I18n.t("home.history")%>'); 
  makeFrame('checkout_box','<%=I18n.t("home.checkout")%>');

  window.dhtmlHistory.create({
    toJSON: function(o) {
      return Object.toJSON(o);
    },
    fromJSON: function(s) {
      return s.evalJSON();
    },
    baseTitle: "Tento Express [@@@]",
    debugMode: false
  });

  var pageListener = function(newLocation, historyData) {
  	if(newLocation == "")
		return;
		
 	cl = newLocation.split("~");
	fn = "go" + cl[0].capitalize();
	if(cl.length > 1)
		fncall = fn + "('" + cl[1] +"')";
	else
		fncall = fn + "()";
    eval(fncall);
  };
  
  Event.observe(window, 'load', function() {
	dhtmlHistory.initialize(pageListener);
	if(dhtmlHistory.getCurrentLocation() == "")
		goInfo();
	else
		pageListener(dhtmlHistory.getCurrentLocation());
  });
  	
  $$('.mitem_dd').each( function(el){ el.observe('click', toggleDDMenu); } );
  
	<%=remote_function :url => categories_path%>
  
	Ajax.cartUpdatesCount = 0;
  
    Ajax.Responders.register({
        onCreate: function(opt){
			o = opt.options.cartUpdateRequest;
			if(o){
				$('cart_box_spinner').show();
				Ajax.cartUpdatesCount++;
			}
			$('logo1-cell').addClassName("logo1-active");
			$('logo1-cell').removeClassName("logo1-inactive");
        },
        onComplete: function(opt){
			o = opt.options.cartUpdateRequest;
			if(o){
				$('cart_box_spinner').show();
				Ajax.cartUpdatesCount--;
				if(Ajax.cartUpdatesCount == 0){
					$('cart_box_spinner').hide();
				}
			}
            if (Ajax.activeRequestCount == 0) {
				$('logo1-cell').addClassName("logo1-inactive");
				$('logo1-cell').removeClassName("logo1-active");

            }
        }
    });

  
  Event.observe(document.body, 'click', 
  	function(event) {
	    var el = Event.element(event);
		allPopups = $$('.img_popup');
		allPopups.each(function(e){
		  if( !e.visible() )
		    return;
		  e.hide();
		});
  	});  
  
</script>
