<td><%=h cart_line.item_name %></td>
<td align="right"><%=cart_line.quantity%> &times <%=cart_line.item_unit.name%></td>
<td align="right"><%=cart_line.item_weight%>kg</td>
<td align="right"><%=I18n.t(:yen, :a => cart_line.item_amount)%></td>

