<!--[if lt IE 7]>
<style type="text/css">
.top_boxes {
  width: expression( ( document.documentElement.clientWidth - 190 ) + 'px');
}
</style>
<![endif]-->


<div id="header_box">
<!--		<h1>LOGO!!!</h1>
	<span id="header_info_box">
		<span id="language_box"><a href="#">English</a> <a href="#">日本語</a></span>
	</span>
-->
</div>
	
<div id="nav_box">
  <div id="tab">
    <ul>
      <li><a href="#" class="mitem_cm" onClick="goInfo()"><span>Home</span></a></li>
      <li><a href="#" class="mitem_cm" onClick="goCatalog('sp')"><span>Today's Specials!</span></a></li>
      <li><a href="#" class="mitem_dd"><span>&#x25B6; Browse By Category</span></a></li>
      <li><div id="brw_pl_o" style="display:none"><div id="brw_pl" class="brw_items"></div></div></li>
      <li><a href="#" class="mitem_dd"><span>&#x25B6; Browse By Supplier</span></a></li>
      <li><div id="brw_su_o" style="display:none"><div id="brw_su" class="brw_items"></div></div></li>
      <li><a href="#" class="mitem_cm"><span>Order</span></a></li>
      <li><a href="#" class="mitem_dd"><span>&#x25B6; Information</span></a></li>
      <li><div id="brw_info_o" style="display:none"><div id="brw_info" class="brw_items">
        <ul>
          <li>Farmers</li>
          <li>How To Order</li>
          <li>Calendar</li>
          <li>Links</li>
        </ul>
      </div></div></li>
      
    </ul>
  </div>
</div>

<div id="container_box">
  <div id="main_box" class="top_boxes">
    <div id="info_box" class="center_boxes" style="display:none"></div>
    <div id="user_box" class="right_boxes" style="display:none"></div>
    <div id="cart_box" class="right_boxes" style="display:none"></div>
  </div>
</div>


<script type="text/javascript">
  token = '<%=escape_javascript form_authenticity_token%>';
	
  var boxURL = {
    info_box: '<%=info_path%>',
    cat: '<%=catalog_path%>',
    cart_box: '<%=cart_lines_path%>',
    checkout_box: {url: '<%=checkout_path%>', force: true}
	};
  	
  $$('.mitem_dd').each( function(el){ el.observe('click', toggleDDMenu); } );
  
	<%=remote_function :url => categories_path%>
</script>
