<div id="header_box">
	<div id="logo_box">
		<h1>LOGO!!!</h1>
	</div>
	<div id="header_info_box">
		<div id="language_box"><a href="#">English</a> <a href="#">日本語</a></div>
		<br/>
		<div id="user_info_box"><a href="#">Kraportov Arkadiy</a></div>
	</div>
</div>
	
<div id="the_box">
	<% form_tag do %>
	<% end %>

	<div id="nav_box">
  
  
  
  
  
  
  
  <div id="MainMenu">
	<div id="tab">
		<ul>
			<li class="item_active"><a href="#"><span>Home</span></a></li>
      <li><a href="#"><span>Today's Specials!</span></a></li>
      <li><a href="#" onclick="$('brw_pl_o').toggle('appear', { duration: 10 })"><span>Browse By Category</span></a></li>
      <li id="brw_pl_o" style="display:none"><span id="brw_pl">Product Line</span></li>
			<li><a href="#" onclick="$('brw_su').toggle('slide', { duration: 1.2 })"><span>Browse By Supplier</span></a></li>
      <li><div id="brw_su" style="display:none">Supplier</div></li>
      <li><a href="#"><span>Order</span></a></li>
			<li><a href="#" onclick="$('brw_info').toggle('slide', { duration: 1.2 })"><span>Information</span></a></li>
      <li><div id="brw_info" style="display:none">
        <ul>
          <li>Farmers</li>
          <li>How To Order</li>
          <li>Calendar</li>
          <li>Links</li>
        </ul>
      </div></li>
      
		</ul>
	</div>
</div>

  
  
  
  
  
  
		
	</div>
	<div id="container_box">
		<div id="info_box" class="top_boxes" style="display:none"></div>
		<div id="main_box" class="top_boxes" style="display:none">
			<div id="catalog_box"></div>
			<div id="cart_box"></div>
		</div>
		<div id="checkout_box" class="top_boxes" style="display:none"></div>
	</div>
</div>

<script type="text/javascript">
	globalURL = {
		info: '<%=info_path%>',
		categories: '<%=categories_path%>',
		token: '<%=escape_javascript form_authenticity_token%>'
	};
	
	<%=remote_function :url => categories_path%>
	showTopBox('info_box','<%=info_path%>');
</script>
